body {
background-image: linear-gradient(to right top, #b6f2e8, #abefed, #a2ebf2, #9ce6f7, #99e1fb, #93e1fc, #8de2fe, #86e2ff, #78e9ff, #6beffe, #62f5f9, #5ffbf1);
overflow-x: hidden;
height: 100vh;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
h3 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 15%;
  left: 30%;
  color: #fff;
}
h5 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.089);
}
#results {
  position: relative;
  font-family: "Roboto Mono", monospace;
  width: 90%;
  text-align: center;
  margin: 2% auto;
}
.playBtn {
  width: 40px;
  height: 40px;
}

.header {
  position: relative;
  top: 1%;
}
#sectionOne {

  background-color: #ffffff;
  height: 70vh;
  border: solid 1px #fff;
  border-radius: 10px;
}
#title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
#dice-section {
  position: relative;
  background-color: rgba(212, 212, 212, 0);
  text-align: center;
  padding: 3%;
  margin: auto;
  width: 90%;
}

.dice {
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  margin: 1% 5% 3%;
  transition: all 2s;
}
.dice-one {
background: rgb(0,101,184);
background: radial-gradient(circle, #46b4c0 65%, #2d9fe0 100%);
}
.dice-two {
background: #0065b8;
background: radial-gradient(circle, #e66f5a 65%, #e74d57 100%);
}

.ran-num {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  margin: 5%;
  border-radius: 50%;
  display: inline-block;
}
.ctg-one-dc1 {
  position: relative;
  top: 25px;
}
.ctg-two-dc1 {
  position: relative;
  top: 25px;
}
.ctg-three-dc1 {
  position: relative;
  top: 25px;
}
.ctg-four-dc1 {
  position: relative;
  top: 60px;
}
.ctg-five-dc1 {
  position: relative;
  top: 60px;
}
.ctg-six-dc1 {
  position: relative;
  top: 60px;
}
.ctg-mid-dc1 {
  position: relative;
  top: -55px;
  visibility: hidden;
}

/*============== DICE TWO==================== */
.ctg-one-dc2 {
  position: relative;
  top: 25px;
}
.ctg-two-dc2 {
  position: relative;
  top: 25px;
}
.ctg-three-dc2 {
  position: relative;
  top: 25px;
}
.ctg-four-dc2 {
  position: relative;
  top: 60px;
}
.ctg-five-dc2 {
  position: relative;
  top: 60px;
}
.ctg-six-dc2 {
  position: relative;
  top: 60px;
}
.ctg-mid-dc2 {
  position: relative;
  top: -55px;
  visibility: hidden;
}

/* ============================ */

/* =========BUTTON============ */

#refresh {
  text-align: center;
  margin-top: 3%;
}
#btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  background-color: #37c3ee;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 20px;
  border-style: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 100px;
}
.fight-img {
   width: 50px;
  height: 50px;
}
#col-overlay {
  visibility: hidden;
}

.btn:hover {
  border: solid #ec255a 1px;

  text-decoration: none;
}
/* ======== TOGGLE============ */
.toggle {
  visibility: hidden;
  /* background-color:#fff; */
}
.toggleMid {
  /* background-color: #fff; */
  visibility: visible;
}
footer {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
/* FOOTER */
.footer-link {
  padding: 0.5rem;
  width: 30px;
  height: 30px;
  background-size: cover;
}
.footer-link:hover {
  color: #00eaff;
}
.copyright {
  margin-top: 15px;
  color: rgb(95, 95, 95);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.colorBg1 {
  border: none;
  background-color: #ffccd2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.colorBg2 {
  border: none;
  background-color: #ffc900;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.colorBg3 {
  border: none;
  background-color: #EC255A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.bgColor {
  visibility: hidden;
}
.creator{
  font-size: 1rem;
}

/********************************
========MEDIA Q =================================================================
*/

@media screen and (max-width: 600px) {


#player-name p{
width: 10%;
display: inline-block;
position: absolute;
font-family: 'Roboto Mono', monospace;

}
hr {
  border: 2px solid #8b8b8b6b;
  width: 10%;
  border-style: dashed;
  border-bottom: none;

}
.p1{
  left: 10%;
margin: 0px;
padding: 20px;
}
.p2{
  right: 10%;
margin: 0px;
padding: 20px;
}
#total{
  color:rgba(110, 110, 110, 0.89);
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  transition: all 0.5s;
}
  #title {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0 0 10px;
    margin: 2px 0 10px;
    position: relative;
    font-family: 'Pacifico', cursive;
    text-align: left; 
    width: 100%;
 }

  #results {
    font-family: monospace;
    color: #464646;
    font-size: 1rem;
     
  }
  .logo-img {
    width: 30px;
    height: 30px;
  }
  .colorBg1 {
    display: inline-block;
    border: none;
    background-color: #ffccd2;
  width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg2 {
    display: inline-block;
    border: none;
    background-color: #FFC900;
  width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg3 {
    display: inline-block;
    border: none;
    background-color: #EC255A;
   width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg4 {
    display: inline-block;
    border: none;
    background-color: #79018C;
   width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg5 {
    display: inline-block;
    border: none;
    background-color: #519259;
   width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg6 {
    display: inline-block;
    border: none;
    background-color: #000B49;
    width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg7 {
    display: inline-block;
    border: none;
    background-color: #84DFFF;
    width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg8 {
    display: inline-block;
    border: none;
    background-color: #A68DAD;
   width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg9 {
    display: inline-block;
    border: none;
    background-color: #6B4F4F;
    width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg10 {
    display: inline-block;
    border: none;
    background-color: #6B4F4F;
    width: 20px;
    height:20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  P{
    font-size: 15px;
  }
  .bgColor {
    position: relative;
    visibility: visible;
  }

  .container-au {
    text-align: center;
    /* margin: auto; */
  }
.audio {
  background-color:#F05454;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  padding:7px 10px;
  border: none;
  margin: 5px;
  /* display: block;   */
}
.audio:hover {
  background-color:#ffffff;
  color: #000000;
  padding:7px 10px;
  border: solid 1px #000000;

}
#stopButton {
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    color: #3f3f3f;
    z-index: 1;
    border: solid 1px #ff0000;
    /* border-style: none; */
    height: 40px;
}
#stopButton:hover {
  background-color: #fffefe;
  color: #000000;
  border: solid 1px #000000;
  z-index: 1;
}
.dio1 {
  background-color: #d68fac;
}
.dio2 {
  background-color: rgb(255, 250, 158);
}
.dio3 {
  background-color: #79dbff;
}
.dio4 {
  background-color: #afffa1;
}
.dio5 {
  background-color: hsl(230, 100%, 81%);
}
.dio6 {
  background-color: #b4ffbf;
}
  .dio7 {
  background-color: #D8B6A4;
}
  .dio8 {
  background-color: #F4D19B;
}
  .dice {
    width: 100px;
    height: 100px;

    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    margin: 20% 5% 3%;

    transition: all 1s;
  }
.dice-one-bg {
  background-color: #00000000;
  border: 1px solid #000000;

}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(80deg);
    }
    20%{
        transform: rotateY(-80deg);
    }
    50%{
        transform: rotateY(80deg);
    }
    70%{
        transform: rotateX(-60deg);
    }
    100%{
        transform: rotate(70deg);
    }
}
  .ran-num {
    width: 20px;
    height: 20px;
    background-color: #eeeeee;
    position: relative;
    margin: 5%;
    border-radius: 50%;
    display: inline-block;
    /* transition: all 1s; */
    transition-delay: 1s;
  }

  .ctg-one-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-two-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-three-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-four-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-five-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-six-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-mid-dc1 {
    position: relative;
    top: -28.5px;
    /* background-color: #003a86; */
    visibility: hidden;
  }

  /*============== DICE TWO==================== */
  .ctg-one-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-two-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-three-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-four-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-five-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-six-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-mid-dc2 {
    position: relative;
    top: -29.5px;
    /* background-color: #003a86; */
    visibility: hidden;
  }

  .toggle {
    visibility: hidden;
    /* background-color:#fff; */
  }
  .toggleMid {
    /* background-color: #fff; */
    visibility: visible;
  }

 #btn {
    position: relative;
    top: 10px;
    background-color: #3bebf142;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 60px;
    border: solid 1px #00f7ff7c;
    border-radius: 50%;
    font-size: 2rem;
    padding: 10px;
    outline: none;
  }

  #refresh {
    text-align: center;
        outline: none;

  }

  .btn:hover {
    border: solid #000000 1px;
    background: #b3b3b3;
    outline: none;
  }
  footer {
    font-size: 5px;
    color: #000000;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .creator{
  font-size: 10px;
}

  /* FOOTER */
.footer-link {
    padding-top: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .footer-link:hover {
    color: #00eaff;
  }

  #dice-section {
    position: relative;
    background-color: #d4d4d400;
    text-align: center;
    padding: 3%;
    margin-top: 10%;
    width: 90%;
  }
  #sectionOne {
    background-color: #fff6f6;
    height: 70vh;
    border: solid 1px #fff;
    border-radius: 20px;
  }
  
#col-overlay {
  visibility: visible;
  text-align: center;
}
#myNav {
  text-align: center;
}
.overlay {
    max-height: 540px;
    height: 0%;
    width: 95.5%;
    position: absolute;
    z-index: 1;
    top: 10%;
    margin: auto;
    background-color: #fff6f6;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 20px;
}

.overlay-content {
     width: 90%;
    margin: auto;
    text-align: center;
    font-family: monospace;
    color: #5a5a5a;
    background-color:#ffffff;
    border: dashed 1px #7070703b;
    border-radius: 20px;
}

.overlay-content a {
     margin: 0px auto 5px;
    width: 50%;
    height:30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: #4e4e4e;
    font-family: "Pacifico", cursive;
    background-color: #ffffff;
    border-radius: 10px;
    /* border: 3px dotted #6e6a6a13; */
    display: block;
}

.overlay .closebtn {
  position: relative;
  box-shadow: none;
  outline: none;
  top: 470px;
  font-size: 1.6rem;
  color: #666666;
  z-index: 1;
}

.openNav {
  text-align: center;
  z-index: 1;


}
.nav-open {
    margin: 0px auto;
    width: 30%;
    height: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000000c5;
    color: #bebebe;
    z-index: 1;
    padding: 0px 0 3px;
    font-family: monospace;
    font-size: 12px;
    border-bottom: solid 2px #acacac;
}
.audio {
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  color: #0000009a;
}

#fightImg{
  text-align: center;
}
.fight-img {
   width: 40px;
    height: 40px;
}
}

