body {
  background: #ffffff;
  /* background: -webkit-linear-gradient(top left, #5eb6b9, #2ae292);
  background: -moz-linear-gradient(top left, #5eb6b9, #2ae292);
  background: linear-gradient(to bottom right, #fafcf4, #ffffff, #e6e6e6); */
  transition: background-color 0.5s;
}

@media screen and (max-width: 600px) {
  #player-name p {
    width: 10%;
    display: inline-block;
    position: absolute;
    font-family: "Roboto Mono", monospace;
  }
  h1 {
    font-size: 12px;
    font-family: "Cairo", sans-serif;
    margin: 0;
  }
  hr {
    border: 2px solid #8b8b8b6b;
    width: 10%;
    /* border-style: dashed; */
    border-bottom: none;
  }
  .p1 {
    left: 10%;
    margin: 0px;
    padding: 20px;
  }
  .p2 {
    right: 10%;
    margin: 0px;
    padding: 20px;
  }

  #title {
    color: rgb(87, 87, 87);
    display: inline-block;
    font-size: 2rem;
    padding: 0 0 0 10px;
    margin: 2px 0 10px;
    position: relative;
    /* text-shadow: 1px -1px 1px black; */
    font-family: "Flavors", cursive;
    text-align: center;
    width: 100%;
    transition: all 3s;
  }

  /* =========== =================================================================*/
  /* ==== AUDIO PIlls =================================*/
  /* ================================================================= */

  .dio1 {
    background-color: #fa00d4;
  }
  .dio2 {
    background-color: #28ffbf;
  }
  .dio3 {
    background-color: #79dbff;
  }
  .dio4 {
    background-color: #fff338;
  }
  .dio5 {
    background-color: #ffbcbc;
  }
  .dio6 {
    background-color: #ff0062;
  }

  .dio7 {
    background-color: #6dd300;
  }

  .dio8 {
    background-color: #7fc8a9;
  }

  .dio9 {
    background-color: #7c83fd;
  }

  .dio10 {
    background-color: #b4ffbf;
  }

  .dio11 {
    background-color: #00f7ff;
  }

  .dio12 {
    background-color: #e7e0c9;
  }

  .dio13 {
    background-color: #fef7dc;
  }

  .dio14 {
    background-color: #bfa2db;
  }

  .dio15 {
    background-color: #b4ffbf;
  }

  .dio16 {
    background-color: #f0d9ff;
  }

  .dio17 {
    background-color: #f7dbf0;
  }

  .dio18 {
    background-color: hsl(39, 100%, 59%);
  }

  .dio19 {
    background-color: #ffedda;
  }

  .dio20 {
    background-color: #3db2ff;
  }

  /* =========== =================================================================*/
  /* ==== AUDIO PIlls  End=================================*/
  /* ================================================================= */

  .colorBg1 {
    display: inline-block;
    border: none;
    background-color: #ffccd2;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg2 {
    display: inline-block;
    border: none;
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg3 {
    display: inline-block;
    border: none;
    background-color: #ec255a;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg4 {
    display: inline-block;
    border: none;
    background-color: #79018c;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg5 {
    display: inline-block;
    border: none;
    background-color: #519259;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg6 {
    display: inline-block;
    border: none;
    background-color: #000b49;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg7 {
    display: inline-block;
    border: none;
    background-color: #84dfff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg8 {
    display: inline-block;
    border: none;
    background-color: #a68dad;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg9 {
    display: inline-block;
    border: none;
    background-color: #6b4f4f;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg10 {
    display: inline-block;
    border: none;
    background-color: #6b4f4f;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  P {
    font-size: 15px;
  }
  .bgColor {
    position: relative;
    visibility: visible;
  }

  .container-au {
    text-align: center;
    /* margin: auto; */
  }

  .toggle {
    visibility: hidden;
  }
  .toggleMid {
    visibility: visible;
  }

  footer {
    font-size: 5px;
    color: #000000;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .creator {
    font-size: 10px;
  }

  /* FOOTER */
  .footer-link {
    padding: 10px 10px 0px;
    margin-bottom: 0;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .footer-link:hover {
    color: #00eaff;
  }



  .audio:hover {
    background-color: #ffffff;
    color: #000000;
    padding: 7px 10px;
    border: solid 0.5px #000000;
  }
  #sectionOne {
    height: 80vh;
    overflow-y: scroll;
    text-align: center;
  }

  .songList {
    width: 90%;
    margin: 10px auto 2px;
    padding: 2%;
    /* background-color: #ffffff; */
    -webkit-box-shadow: 0px -8px 24px -2px rgba(0, 0, 0, 0.82);
    box-shadow: 0px -4px 6px -2px rgba(0, 0, 0, 0.82);
  }
  .chillVibe {
    overflow: scroll;
    background: #ffffff13;
    height: 30%;
    border-radius: 20px;
  }
  .popSong {
    background-color: #ffffff2a;
    overflow: scroll;
    height: 60%;
    border-radius: 20px;
  }
  .summer {
    background-color: #ffffff2a;
    overflow: scroll;
    height: 30%;
    border-radius: 20px;
  }
  .mood {
    background-color: #ffffff2a;
    height: 30%;
    overflow: scroll;
    border-radius: 20px;
    color: rgb(34, 34, 34);
  }
  #pauseBtn {
    position: fixed;
    bottom: 20%;
    left: 60%;
    width: 40px;
    height: 40px;
  }
  .pauseAudIcon {
    margin: 60px;
    color: rgb(255, 251, 0);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }

  #col-overlay {
    visibility: visible;
    text-align: center;
  }
  #myNav {
    text-align: center;
  }
  .overlay {
    max-height: 540px;
    height: 0%;
    width: 95.5%;
    position: absolute;
    z-index: 1;
    top: 10%;
    margin: auto;
    background-color: #fff6f6;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 20px;
  }

  .overlay-content {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: monospace;
    color: #5a5a5a;
    background-color: #ffffff;
    border: dashed 1px #7070703b;
    border-radius: 20px;
  }

  .overlay-content a {
    margin: 0px auto 5px;
    width: 50%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: #4e4e4e;
    font-family: "Pacifico", cursive;
    background-color: #ffffff;
    border-radius: 10px;
    /* border: 3px dotted #6e6a6a13; */
    display: block;
  }

  .overlay .closebtn {
    position: relative;
    box-shadow: none;
    outline: none;
    top: 460px;
    font-size: 1.6rem;
    color: #666666;
    z-index: 1;
  }

  .openNav {
    text-align: center;
    z-index: 1;
  }
  .nav-open {
    margin: 10px auto 30px;
    width: 40%;
    height: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #202020;
    color: #ffffff;
    z-index: 1;
    padding: 0px 0 3px;
    font-family: monospace;
    font-size: 12px;
    border-bottom: solid 1px #acacac;
  }
    .audio {
    border-radius: 20px;
    color: #000000 !important;
    border: none !important;
    text-align: center;
    padding: 7px 10px;
    margin: 5px;
    min-width: 22%;
    height: 33px;
    font-family: "Yomogi", cursive;
  }
}
