body {
  background: #ffffff;

  transition: background-color 0.5s;
}

@media screen and (max-width: 600px) {
  #player-name p {
    width: 10%;
    display: inline-block;
    position: absolute;
    font-family: "Roboto Mono", monospace;
  }
  h1 {
    font-size: 12px;
    font-family: "Cairo", sans-serif;
    margin: 0;
  }
  hr {
    border: 2px solid #8b8b8b6b;
    width: 10%;
    border-bottom: none;
  }
  .p1 {
    left: 10%;
    margin: 0px;
    padding: 20px;
  }
  .p2 {
    right: 10%;
    margin: 0px;
    padding: 20px;
  }

  #title {
    /* color: rgb(87, 87, 87); */
    display: inline-block;
    font-size: 2rem;
    padding: 0 0 0 10px;
    margin: 2px 0 10px;
    position: relative;
    font-family: "Flavors", cursive;
    text-align: center;
    width: 100%;
    transition: all 3s;
  }

  /* =========== =================================================================*/
  /* ==== AUDIO PIlls =================================*/
  /* ================================================================= */

  .dio1 {
    background-color: #fa00d4;
  }
  .dio2 {
    background-color: #28ffbf;
  }
  .dio3 {
    background-color: #79dbff;
  }
  .dio4 {
    background-color: #fff338;
  }
  .dio5 {
    background-color: #ffbcbc;
  }
  .dio6 {
    background-color: #ff0062;
  }

  .dio7 {
    background-color: #6dd300;
  }

  .dio8 {
    background-color: #7fc8a9;
  }

  .dio9 {
    background-color: #7c83fd;
  }

  .dio10 {
    background-color: #b4ffbf;
  }

  .dio11 {
    background-color: #00f7ff;
  }

  .dio12 {
    background-color: #e7e0c9;
  }

  .dio13 {
    background-color: #fef7dc;
  }

  .dio14 {
    background-color: #bfa2db;
  }

  .dio15 {
    background-color: #b4ffbf;
  }

  .dio16 {
    background-color: #f0d9ff;
  }

  .dio17 {
    background-color: #f7dbf0;
  }

  .dio18 {
    background-color: hsl(39, 100%, 59%);
  }

  .dio19 {
    background-color: #ffedda;
  }

  .dio20 {
    background-color: #3db2ff;
  }

  /* =========== =================================================================*/
  /* ==== AUDIO PIlls  End=================================*/
  /* ================================================================= */

  .colorBg1 {
    display: inline-block;
    border: none;
    background-color: #ffccd2;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg2 {
    display: inline-block;
    border: none;
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg3 {
    display: inline-block;
    border: none;
    background-color: #ec255a;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg4 {
    display: inline-block;
    border: none;
    background-color: #79018c;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg5 {
    display: inline-block;
    border: none;
    background-color: #519259;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg6 {
    display: inline-block;
    border: none;
    background-color: #000b49;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg7 {
    display: inline-block;
    border: none;
    background-color: #84dfff;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg8 {
    display: inline-block;
    border: none;
    background-color: #a68dad;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg9 {
    display: inline-block;
    border: none;
    background-color: #6b4f4f;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }
  .colorBg10 {
    display: inline-block;
    border: none;
    background-color: #6b4f4f;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 8px auto;
  }

  P {
    font-size: 15px;
  }

  .bgColor {
    position: relative;
    visibility: visible;
  }

  .container-au {
    text-align: center;
    /* margin: auto; */
  }

  .toggle {
    visibility: hidden;
  }
  .toggleMid {
    visibility: visible;
  }

  footer {
    font-size: 5px;
    color: #000000;
    text-align: center;
    font-family: "Roboto Mono", monospace;
  }
  .creator {
    font-size: 10px;
  }

  /* FOOTER */
  .footer-link {
    padding: 10px 10px 0px;
    margin-bottom: 0;
    width: 15px;
    height: 15px;
    background-size: cover;
  }
  .footer-link:hover {
    color: #00eaff;
  }

  #sectionOne {
    height: 80vh;
    overflow-y: scroll;
    text-align: center;
  }

  .songList {
    width: 90%;
    margin: 10px auto 2px;
    padding: 2%;
   
  }
  .chillVibe {
  overflow: scroll; 
    background: #ffffff13;
    height: 12%;
    width: 95%;
    border-radius: 20px;
   
  }
  .chillV_top{
      overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  }
  .popSong {
    background-color: #ffffff2a;
    overflow: scroll;
    height: 50%;
    border-radius: 20px;
    -webkit-box-shadow: 0px -8px 24px -2px rgba(0, 0, 0, 0.82);
    box-shadow: 0px -4px 6px -2px rgba(0, 0, 0, 0.82);
  }
  .summer {
    background-color: #ffffff2a;
    overflow: scroll;
    height: 30%;
    border-radius: 20px;
    -webkit-box-shadow: 0px -8px 24px -2px rgba(0, 0, 0, 0.82);
    box-shadow: 0px -4px 6px -2px rgba(0, 0, 0, 0.82);
  }
  .mood {
    background-color: #ffffff2a;
    height: 30%;
    overflow: scroll;
    border-radius: 20px;
    color: rgb(34, 34, 34);
    -webkit-box-shadow: 0px -8px 24px -2px rgba(0, 0, 0, 0.82);
    box-shadow: 0px -4px 6px -2px rgba(0, 0, 0, 0.82);
  }
  #pauseBtn {
    position: fixed;
    bottom: 20%;
    left: 60%;
    width: 1px;
    height: 1px;
  }
  .pauseAudIcon {
    margin: 60px;
    border-radius: 50%;
    background-color: rgba(151, 151, 151, 0.445);
    transition: all 2s;
  }

  #col-overlay {
    visibility: visible;
    text-align: center;
  }
  #myNav {
    text-align: center;
  }
  .overlay {
    max-height: 540px;
    height: 0%;
    width: 95.5%;
    position: absolute;
    z-index: 1;
    top: 10%;
    margin: auto;
    background-color: #fff6f6;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 20px;
  }

  .overlay-content {
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: monospace;
    color: #5a5a5a;
    background-color: #ffffff;
    border: dashed 1px #7070703b;
    border-radius: 20px;
  }

  .overlay-content a {
    margin: 0px auto 5px;
    width: 50%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: #4e4e4e;
    font-family: "Pacifico", cursive;
    background-color: #ffffff;
    border-radius: 10px;
    display: block;
  }

  .overlay .closebtn {
    position: relative;
    box-shadow: none;
    outline: none;
    top: 460px;
    font-size: 1.6rem;
    color: #666666;
    z-index: 1;
  }

  .openNav {
    text-align: center;
    z-index: 1;
  }
  .nav-open {
    margin: 10px auto 30px;
    width: 40%;
    height: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #202020;
    color: #ffffff;
    z-index: 1;
    padding: 0px 0 3px;
    font-family: monospace;
    font-size: 12px;
    border-bottom: solid 1px #acacac;
  }
  .audio {
    border-radius: 20px;
    color: #000000 !important;
    border: none !important;
    text-align: center;
    padding: 7px 10px;
    margin: 5px;
    width: 80%;
    height: 35px;
    font-family: "Yomogi", cursive;
  }
  .audio:hover {
    background-color: #ffffff !important;
    color: #000000;
    padding: 7px 10px;
    border: solid 0.5px #000000 !important;
  }
  .chill_list {
    width: 50px;
    height: 50px !important;
    /* color:#ffffff !important; */
    border-radius: 50% !important;
    margin: 3%;
    

    transition: all 2s;
  }
  .chill_list:hover {
    color: #000000 !important;
    background-color: #ffffff !important;
    border: solid 0.5px #ffffff !important;
  }
  .list-one {
    background: url("https://images.pexels.com/photos/10380835/pexels-photo-10380835.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-two {
    background: url("https://getwallpapers.com/wallpaper/full/0/b/2/179224.jpg");
    background-size: cover;
  }
  .list-three {
    background: url("https://cdn.wallpapersafari.com/27/49/i3UH5A.jpg");
    background-size: cover;
  }
  .list-four {
    background: url("https://wallpapertag.com/wallpaper/full/8/0/f/660274-widescreen-zen-temple-wallpaper-1920x1080-lockscreen.jpg");
    background-size: cover;
  }
  .list-five {
    background: url("https://images.pexels.com/photos/8239819/pexels-photo-8239819.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-six {
    background: url("https://images.pexels.com/photos/2347011/pexels-photo-2347011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-seven {
    background: url("https://images.pexels.com/photos/1770809/pexels-photo-1770809.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-eigth {
    background: url("https://images.pexels.com/photos/1591373/pexels-photo-1591373.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") !important;
    background-size: cover !important;
  }
  .list-nine {
    background: url("https://images.pexels.com/photos/8479967/pexels-photo-8479967.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-ten {
    background: url("https://images.pexels.com/photos/7245514/pexels-photo-7245514.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-eleven {
    background: url("https://images.pexels.com/photos/3889935/pexels-photo-3889935.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  .list-12 {
    background: url("https://images.pexels.com/photos/6774396/pexels-photo-6774396.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
  }
  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -5;
}
/* 
.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 9;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #d959d5;
    top: 59%;
    left: 30%;
    animation-duration: 322s;
    animation-delay: -195s;
    transform-origin: -7vw -2vh;
    box-shadow: 6vmin 0 1.3211011564647381vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 62%;
    left: 75%;
    animation-duration: 154s;
    animation-delay: -326s;
    transform-origin: 16vw -19vh;
    box-shadow: 6vmin 0 0.9336840964775777vmin currentColor;
}
.background span:nth-child(2) {
    color: #28ac16;
    top: 14%;
    left: 43%;
    animation-duration: 149s;
    animation-delay: -88s;
    transform-origin: -23vw 8vh;
    box-shadow: 6vmin 0 0.8392655518571934vmin currentColor;
}
.background span:nth-child(3) {
    color: #d959d5;
    top: 42%;
    left: 48%;
    animation-duration: 242s;
    animation-delay: -183s;
    transform-origin: -14vw -6vh;
    box-shadow: -6vmin 0 1.1923815141004679vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 54%;
    left: 64%;
    animation-duration: 49s;
    animation-delay: -376s;
    transform-origin: -10vw -18vh;
    box-shadow: -6vmin 0 1.1471325222784143vmin currentColor;
}
.background span:nth-child(5) {
    color: #d959d5;
    top: 2%;
    left: 62%;
    animation-duration: 107s;
    animation-delay: -134s;
    transform-origin: -21vw 25vh;
    box-shadow: 6vmin 0 1.3164060692549018vmin currentColor;
}
.background span:nth-child(6) {
    color: #d959d5;
    top: 27%;
    left: 87%;
    animation-duration: 411s;
    animation-delay: -137s;
    transform-origin: 19vw -7vh;
    box-shadow: -6vmin 0 1.466656237174375vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 18%;
    left: 57%;
    animation-duration: 149s;
    animation-delay: -178s;
    transform-origin: -14vw -17vh;
    box-shadow: -6vmin 0 1.3542987754103981vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 21%;
    left: 37%;
    animation-duration: 55s;
    animation-delay: -163s;
    transform-origin: -6vw 7vh;
    box-shadow: 6vmin 0 1.3485371293815578vmin currentColor;
}
.background span:nth-child(9) {
    color: #d959d5;
    top: 54%;
    left: 36%;
    animation-duration: 366s;
    animation-delay: -266s;
    transform-origin: 15vw -17vh;
    box-shadow: 6vmin 0 1.1598178794534533vmin currentColor;
}
.background span:nth-child(10) {
    color: #d959d5;
    top: 3%;
    left: 36%;
    animation-duration: 16s;
    animation-delay: -1s;
    transform-origin: -2vw -5vh;
    box-shadow: 6vmin 0 1.3249825847845007vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 13%;
    left: 31%;
    animation-duration: 259s;
    animation-delay: -73s;
    transform-origin: 15vw 8vh;
    box-shadow: 6vmin 0 1.4088972562988167vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 14%;
    left: 70%;
    animation-duration: 105s;
    animation-delay: -5s;
    transform-origin: 16vw -13vh;
    box-shadow: 6vmin 0 1.328255709652073vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 45%;
    left: 41%;
    animation-duration: 237s;
    animation-delay: -376s;
    transform-origin: -21vw -23vh;
    box-shadow: -6vmin 0 1.242790635279599vmin currentColor;
}
.background span:nth-child(14) {
    color: #28ac16;
    top: 55%;
    left: 35%;
    animation-duration: 122s;
    animation-delay: -356s;
    transform-origin: 25vw -2vh;
    box-shadow: 6vmin 0 1.4237576905023246vmin currentColor;
}
.background span:nth-child(15) {
    color: #E45A84;
    top: 34%;
    left: 74%;
    animation-duration: 145s;
    animation-delay: -129s;
    transform-origin: 18vw 20vh;
    box-shadow: -6vmin 0 1.71919462722201vmin currentColor;
}
.background span:nth-child(16) {
    color: #28ac16;
    top: 65%;
    left: 31%;
    animation-duration: 128s;
    animation-delay: -235s;
    transform-origin: -24vw 7vh;
    box-shadow: 6vmin 0 1.4918589712074337vmin currentColor;
}
.background span:nth-child(17) {
    color: #28ac16;
    top: 38%;
    left: 7%;
    animation-duration: 413s;
    animation-delay: -363s;
    transform-origin: -9vw -23vh;
    box-shadow: -6vmin 0 1.0970095398478446vmin currentColor;
}
.background span:nth-child(18) {
    color: #d959d5;
    top: 33%;
    left: 95%;
    animation-duration: 200s;
    animation-delay: -407s;
    transform-origin: -18vw -13vh;
    box-shadow: -6vmin 0 1.1175428957352571vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 27%;
    left: 54%;
    animation-duration: 214s;
    animation-delay: -173s;
    transform-origin: -4vw -6vh;
    box-shadow: -6vmin 0 1.4091581924732084vmin currentColor;
}
.background span:nth-child(20) {
    color: #d959d5;
    top: 49%;
    left: 93%;
    animation-duration: 139s;
    animation-delay: -8s;
    transform-origin: 20vw 0vh;
    box-shadow: -6vmin 0 1.433998847993884vmin currentColor;
}
.background span:nth-child(21) {
    color: #d959d5;
    top: 65%;
    left: 17%;
    animation-duration: 165s;
    animation-delay: -121s;
    transform-origin: -17vw 2vh;
    box-shadow: -6vmin 0 1.2050477098559582vmin currentColor;
}
.background span:nth-child(22) {
    color: #28ac16;
    top: 14%;
    left: 8%;
    animation-duration: 409s;
    animation-delay: -357s;
    transform-origin: -24vw 14vh;
    box-shadow: 6vmin 0 0.893774854557005vmin currentColor;
}
.background span:nth-child(23) {
    color: #E45A84;
    top: 84%;
    left: 42%;
    animation-duration: 92s;
    animation-delay: -73s;
    transform-origin: 25vw -23vh;
    box-shadow: -6vmin 0 1.6830701957890626vmin currentColor;
}
.background span:nth-child(24) {
    color: #28ac16;
    top: 95%;
    left: 58%;
    animation-duration: 60s;
    animation-delay: -402s;
    transform-origin: 22vw -10vh;
    box-shadow: -6vmin 0 1.2733522886883668vmin currentColor;
}
.background span:nth-child(25) {
    color: #d959d5;
    top: 63%;
    left: 11%;
    animation-duration: 337s;
    animation-delay: -273s;
    transform-origin: -20vw -1vh;
    box-shadow: -6vmin 0 1.3418774576226842vmin currentColor;
}
.background span:nth-child(26) {
    color: #E45A84;
    top: 31%;
    left: 72%;
    animation-duration: 193s;
    animation-delay: -155s;
    transform-origin: -24vw -21vh;
    box-shadow: -6vmin 0 1.0835479806323454vmin currentColor;
}
.background span:nth-child(27) {
    color: #28ac16;
    top: 53%;
    left: 43%;
    animation-duration: 364s;
    animation-delay: -399s;
    transform-origin: -17vw 14vh;
    box-shadow: -6vmin 0 1.1897584884398953vmin currentColor;
}
.background span:nth-child(28) {
    color: #28ac16;
    top: 71%;
    left: 100%;
    animation-duration: 360s;
    animation-delay: -192s;
    transform-origin: -16vw -2vh;
    box-shadow: 6vmin 0 1.1818133822104557vmin currentColor;
}
.background span:nth-child(29) {
    color: #28ac16;
    top: 20%;
    left: 77%;
    animation-duration: 183s;
    animation-delay: -204s;
    transform-origin: -8vw 17vh;
    box-shadow: -6vmin 0 0.9525267730209876vmin currentColor;
}
.background span:nth-child(30) {
    color: #d959d5;
    top: 88%;
    left: 46%;
    animation-duration: 152s;
    animation-delay: -344s;
    transform-origin: -20vw -24vh;
    box-shadow: -6vmin 0 1.545301301543609vmin currentColor;
}
.background span:nth-child(31) {
    color: #d959d5;
    top: 47%;
    left: 46%;
    animation-duration: 197s;
    animation-delay: -234s;
    transform-origin: 6vw -10vh;
    box-shadow: 6vmin 0 1.361386573970518vmin currentColor;
}
.background span:nth-child(32) {
    color: #d959d5;
    top: 10%;
    left: 76%;
    animation-duration: 247s;
    animation-delay: -227s;
    transform-origin: -23vw -11vh;
    box-shadow: -6vmin 0 0.7950299087600614vmin currentColor;
}
.background span:nth-child(33) {
    color: #28ac16;
    top: 14%;
    left: 22%;
    animation-duration: 334s;
    animation-delay: -80s;
    transform-origin: -20vw 22vh;
    box-shadow: -6vmin 0 1.6493808108986705vmin currentColor;
}
.background span:nth-child(34) {
    color: #d959d5;
    top: 92%;
    left: 17%;
    animation-duration: 305s;
    animation-delay: -24s;
    transform-origin: 25vw 9vh;
    box-shadow: 6vmin 0 1.25015113736388vmin currentColor;
}
.background span:nth-child(35) {
    color: #28ac16;
    top: 95%;
    left: 68%;
    animation-duration: 320s;
    animation-delay: -354s;
    transform-origin: 14vw -8vh;
    box-shadow: -6vmin 0 1.5257811925483877vmin currentColor;
}
.background span:nth-child(36) {
    color: #E45A84;
    top: 97%;
    left: 77%;
    animation-duration: 356s;
    animation-delay: -123s;
    transform-origin: -2vw -19vh;
    box-shadow: 6vmin 0 1.0032569388901762vmin currentColor;
}
.background span:nth-child(37) {
    color: #28ac16;
    top: 76%;
    left: 16%;
    animation-duration: 351s;
    animation-delay: -229s;
    transform-origin: 9vw -14vh;
    box-shadow: 6vmin 0 1.2101977953616994vmin currentColor;
}
.background span:nth-child(38) {
    color: #E45A84;
    top: 60%;
    left: 57%;
    animation-duration: 172s;
    animation-delay: -334s;
    transform-origin: 0vw -1vh;
    box-shadow: -6vmin 0 1.0358873968025422vmin currentColor;
}
.background span:nth-child(39) {
    color: #28ac16;
    top: 84%;
    left: 37%;
    animation-duration: 95s;
    animation-delay: -64s;
    transform-origin: 8vw -4vh;
    box-shadow: -6vmin 0 1.1562958528336928vmin currentColor;
}
.background span:nth-child(40) {
    color: #28ac16;
    top: 22%;
    left: 42%;
    animation-duration: 227s;
    animation-delay: -260s;
    transform-origin: -17vw 21vh;
    box-shadow: 6vmin 0 1.3598598653157725vmin currentColor;
}
.background span:nth-child(41) {
    color: #E45A84;
    top: 14%;
    left: 11%;
    animation-duration: 351s;
    animation-delay: -75s;
    transform-origin: -9vw -8vh;
    box-shadow: -6vmin 0 1.1267635097374993vmin currentColor;
}
.background span:nth-child(42) {
    color: #28ac16;
    top: 56%;
    left: 6%;
    animation-duration: 263s;
    animation-delay: -230s;
    transform-origin: 17vw 19vh;
    box-shadow: -6vmin 0 1.1226423242835415vmin currentColor;
}
.background span:nth-child(43) {
    color: #d959d5;
    top: 25%;
    left: 75%;
    animation-duration: 172s;
    animation-delay: -328s;
    transform-origin: -5vw -11vh;
    box-shadow: 6vmin 0 1.0311906790443996vmin currentColor;
}
.background span:nth-child(44) {
    color: #E45A84;
    top: 100%;
    left: 96%;
    animation-duration: 45s;
    animation-delay: -378s;
    transform-origin: -11vw -18vh;
    box-shadow: 6vmin 0 1.0441577641652466vmin currentColor;
}
.background span:nth-child(45) {
    color: #28ac16;
    top: 11%;
    left: 90%;
    animation-duration: 8s;
    animation-delay: -331s;
    transform-origin: -14vw -4vh;
    box-shadow: -6vmin 0 1.5061680800918298vmin currentColor;
}
.background span:nth-child(46) {
    color: #E45A84;
    top: 44%;
    left: 59%;
    animation-duration: 243s;
    animation-delay: -190s;
    transform-origin: 21vw -7vh;
    box-shadow: -6vmin 0 1.353863376398491vmin currentColor;
}
.background span:nth-child(47) {
    color: #28ac16;
    top: 75%;
    left: 39%;
    animation-duration: 158s;
    animation-delay: -78s;
    transform-origin: -3vw -16vh;
    box-shadow: 6vmin 0 1.5278892058284366vmin currentColor;
}
.background span:nth-child(48) {
    color: #E45A84;
    top: 30%;
    left: 81%;
    animation-duration: 36s;
    animation-delay: -133s;
    transform-origin: -2vw 14vh;
    box-shadow: -6vmin 0 1.5865496875549294vmin currentColor;
}
.background span:nth-child(49) {
    color: #28ac16;
    top: 63%;
    left: 98%;
    animation-duration: 359s;
    animation-delay: -340s;
    transform-origin: -3vw -14vh;
    box-shadow: -6vmin 0 1.3238503437695792vmin currentColor;
} */

}
